.profileBTN{
    
    position:absolute;
    right:50px;
    height: 10%;
    width: 10%;
}
    

.profileBTN:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.toolbar{
    background-color: white;
    color: black;
    font-weight: bold;
}

.userImg{
    height: 100%;
    width: 100%;
    clip-path: circle();
}

.userImg:hover {

  box-shadow: 10px 10px 5px #888888;
}
